.app {
    padding: 0 40px;
    display: flex;
    max-width: 1450px;
    margin: 0 auto;
    flex-direction: column;
    height: 100vh;
    p, span, a, button, h5, h4,div {
        font-size: 16px !important;
    }
}
.app > div:nth-child(2) {
    flex: 1;
}
.app > div:last-child {
    max-height: 50px;
}

@media (max-width: 1600px) {
    .app {
        //max-width: 100% !important;
        padding: 0px !important;
    }
}