.app {
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    flex-direction: column;
    height: 100vh;
    p, span, a, button, h5, h4,div {
        font-size: 16px !important;
    }
}
.app > div:nth-child(2) {
    flex: 1;
}
.app > div:last-child {
    max-height: 50px;
}