@import "./app.scss";
@import "./page/main.scss";
@import "./page/category.scss";
@import "./page/product.scss";
@import "./page/set_info.scss";
@import "./page/detail_page.scss";
@import "./component/card.scss";
@import "./component/coupon.scss";
@import "./component/results.scss";
@import "./component/spinner.scss";
@import "./component/sign.scss";
@import "./component/category_carousel.scss";
@import "./component/detail_carousel.scss";
@import "./component/h_card.scss";
@import "./component/header_shopping_cart.scss";
@import "./component/header.scss";
@import "./component/main.scss";
@import "./component/product_cart.scss";
@import "./component/product_detail.scss";
@import "./component/products.scss";
@import "./component/story.scss";
@import "./component/newProduct.scss";
@import "./component/headerCarousel.scss";
@import "./component/hamburger.scss";