.slick-next:before, .slick-prev:before {
    color: rgb(107, 102, 102);
    opacity: 1;
    
}

.categories-small-div{
    padding: 30px;
   // border: 1px solid rgba(5, 5, 5, 0.1);
   img{
       height: 120px !important;
   }
}

.categoryCarousel-div{
    width: 100%;
    padding: 0px 30px 30px 30px;
    display: flex;
    justify-content: center;
}
.Carousel-div{
    width: 88%;
    height: auto;
}

.test > div{
    column-gap: 10px;
}