.header {
  .header-top {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header-logo {
      max-width: 150px;
      flex: 2;
      justify-content: center;
      & > img {
        width: 100%;
        height: 100%;
      }
    }
    .header-search {
      flex: 4;
      & > div {
        width: 700px;
        padding: 0 20px;
        display: flex;
      }
      input {
        width: 100%;
        font-size: 18px;
        outline: none;
        padding: 10px 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 2px solid rgba(210,210,210,.7);
        border-right: none;
        transition: all .2s ease;
      }
      button {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border: 2px solid rgba(210,210,210,.7);
        border-left: none;
        padding: 10px 30px;
        font-size: 18px;
        outline: none;
        transition: all .2s ease;
      }
      input:focus {
        border: 2px solid rgba(110,110,110,.7);
        border-right: none;
        &+button {
          border: 2px solid rgba(110,110,110,.7);
          border-left: none;
        }

      }
      
    }
    .header-util {
      flex:1; 
      display: flex;
      column-gap: 20px;
    }
  }
}

.search-result-container {
  z-index: 30;
  position: absolute;
  display: flex;
  flex-direction: column;
  .search-suggestion {
    display: flex;
    width: 100%;
    height: 100%;
    & > div:first-child {
      flex: 5;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 10px;
      row-gap: 15px;
      flex-wrap: wrap;
      padding: 20px;
      
    }
    & > div:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      border-left: 2px dashed rgba(110,110,110,.4);
    }
  }


.search-result{
 $card_width : 225px;
 $row_increment:10px;
 $card_small:15;
 $card_medium:22;
 $card_large:33;

  .pin_container{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    border-radius: 0% 0% 10px 10px ;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, $card_width);
    grid-auto-rows: $row_increment;
    background-color: white;
  }

  .search-card{
    padding: 0px;
    margin: 15px 10px;
    background-color: aquamarine;
    border-radius: 16px;
  }

  .card_small{
    grid-row-end: span $card_small;
  }
  
  .card_medium{
    grid-row-end: span $card_medium;
  }
  
  .card_large{
    grid-row-end: span $card_large;
  }
}
}