.h-title {
  white-space: nowrap;
  color: rgba(0, 0, 0, .5) !important;
  text-decoration: none !important;
  font-weight: 500 !important;
  transition: all .3s ease;
}

.h-title:hover {
  color: rgba(0, 0, 0, .9) !important;
  border: none;
}

.test {
  font-size: 16px !important;
}

.test:focus {
  box-shadow: none !important;
}
.cart-image {
  width: 200px;
  height: 120px;
}
.itCgil{
  margin: 0 !important;
}
