.header {
  position: sticky;
  top:0;
  z-index: 99;
  background-color: white;
  .header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header-logo {
      max-width: 150px;
      flex: 2;
      justify-content: center;
      & > img {
        width: 100%;
        height: 100%;
      }
    }
    .header-search {
      flex: 3;
      & > div {
        width: 100%;
        max-width: 700px;
        padding: 0 20px;
        display: flex;
      }
      input {
        width: 100%;
        font-size: 18px;
        outline: none;
        padding: 10px 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 2px solid rgba(210,210,210,.7);
        border-right: none;
        transition: all .2s ease;
      }
      .btn-con {
        padding: 3px 3px 3px 0;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border: 2px solid rgba(210,210,210,.7);
        border-left: none;
        transition: all .2s ease;
        button {
        cursor: pointer;
          border-radius: 8px;
          border: none;
          padding: 10px 30px;
          font-size: 18px;
          outline: none;
        }
      }
      input:focus {
        border: 2px solid rgba(110,110,110,.7);
        border-right: none;
        &+div {
          border: 2px solid rgba(110,110,110,.7);
          border-left: none;
        }

      }
      
    }
    .header-util {
      flex:1; 
      display: flex;
      column-gap: 20px;
      p {
        padding: 10px 15px;
        background-color: #f6f6f4;
        border-radius: 5px;
        color: black;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .header-mid {
    padding: 10px 0px;
    .hamburger-menu{
      display: none;
    }
    nav {
      display: flex;
      margin-left: 20px;
      column-gap: 30px;
      position: relative;
      
      div {
        border-left: thick double #93865b;
        padding: 0px 0px 0px 6px;
        transition: all .2s ease;
        cursor: pointer;
        margin: 5px 0px;
        font-size: larger;
        &:hover {
        text-decoration: underline;
        }
      }
    }
    .nav-pane {
      position: absolute;
      width: 100%;
      height: 500px;
      box-shadow: 0px 20px 15px 4px rgba(110,110,110,.5);

      background-color: white;
      display: flex;
      padding: 30px 40px 10px 40px;
      .nav-pane-left {
        flex: 4;
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        gap: 20px;
        .nav-pane-item {
          border-radius: 5px;
          overflow: hidden;
          width: 250px;
          height: 180px;
          position: relative;
          cursor: pointer;
          transition: all .3s ease;
          &:hover {
            transform: translateY(-8px);
          }
          &::after {
            content: attr(data-pane-item-title);
            position:absolute;
            white-space: nowrap;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(230, 230, 230, .7);
            width: 100%;
            //width: 50%;
            padding: 5px 0;
            text-align: center;
            font-size: 18px;
          }
         
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .nav-pane-right {
        flex: 2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        div {
         align-items: center;
          flex: 1;
          padding: 0px;
          width: 90%;
          height: 400px;
          img{
            object-fit: cover;
            height: 100% !important;
          }
          div {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width:1400px) {
  .nav-pane-left {
    -ms-overflow-style: none;
    scrollbar-width: none; 
    flex:3 !important;
    overflow: scroll;
    &::-webkit-scrollbar{
      display: none !important;
    }
  }
  .nav-pane-right{
    flex:3 !important;
    div{
      width: 500px;
      height: 500px;
    }
  }
  .nav-pane-item {
    width: 80% !important;
    height: 220 !important;
  }
}
@media (max-width:1000px) {
.hamburger-menu{
  display: block !important;
}
.large-menu{
  display: none !important;
}


}
.search-result-container {
  z-index: 30;
  position: absolute;
  padding: 20px;
  row-gap: 10px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  .result {
    margin: 0;
    text-align: center;
    text-decoration: underline;
  }
.search-result{
 $card_width : 225px;
 $row_increment:10px;
 $card_small:15;
 $card_medium:22;
 $card_large:33;

  .pin_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 20px;
    background-color: white;
    & > div {
      display: flex;
      column-gap: 20px;
      width: 100%;
      height: 200px;
    }
    & > div:nth-child(1) {
      & > div:first-child {
        flex: 2;
      }
      & > div:last-child {
        flex: 1;
      }
    }
    & > div:nth-child(2) {
      & > div:first-child {
        flex: 1;
      }
      & > div:last-child {
        flex: 2;
      }
    }
    & > div:nth-child(3) {
      & > div:first-child {
        flex: 2;
      }
      & > div:last-child {
        flex: 1;
      }
    }
  }

  .search-card{
    padding: 0px;
    height: auto;
    background-color: aquamarine;
    box-shadow: 0 0 5px 1px rgba(230, 230, 230, .3),
                0 0 5px 1px rgba(230, 230, 230, .3);
    border-radius: 16px;
    overflow: hidden;
    position: relative;
      cursor: pointer;
    &::after {
      content: attr(data-title);
      position:absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(230, 230, 230, .7);
      padding: 3px 50px;
      //width: 50%;
      text-align: center;
      border-radius: 5px;
      font-size: 18px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

}
}