    .carousel-container{
        margin: auto 0 !important;
        align-items: center !important;
        width: 100% !important;
        height: 60vh !important;
    }
    .categories-main-carousel > img{
        height:600px;           
    }
    .all-best-sellers{
        gap: 20px;
    }

.main-carts{
    p, span, a, button, h5, h4,div {
        font-size: 16px !important;
    }
}

    @media (max-width:1400px){
        .categories-main-carousel > img{
            height:530px;     

        }
        .b-carousel-div > .b-carousel-side-div{
            width: 83% !important;
        }
        .all-best-sellers{
            gap:10px;
        }
    }

    @media (max-width:1200px){
        .categories-main-carousel > img{
            height:450px;           
        }
        .b-carousel-div > .b-carousel-side-div{
            width: 85% !important;
        }
        .all-best-sellers{
            width: 95% !important;
        }
    }

    @media (max-width:1000px){
        .category-divs{
        flex-direction: column !important;
        }
        .category-divs >div{
            width: 100% !important;
        }
        .category-divs {
            width: 90% !important;
        }
    }
    @media (max-width:800px){
        .categories-main-carousel > img{
            height:400px;           
        }
        .b-carousel-div > .b-carousel-side-div{
            width: 90% !important;
        }
        .all-best-sellers{
            flex-direction: column !important;
            width: 60% !important;
        }
    }

    @media (max-width:600px){
        .categories-main-carousel > img{
            height:300px;           
        }
        .b-carousel-div > .b-carousel-side-div{
            width: 100% !important;
        }
    }


.custom-file-input {
    padding: 5px 20px 5px 0;
    width: 100%;
    color: transparent;
    &::-webkit-file-upload-button {
        visibility: hidden;
    }
    &::before {
        content: 'Select image';
        width: 100%;
        color: black;
        display: inline-block;
        text-align: center;
        font-size: 20;
        letter-spacing: .5px;
        border: 2px solid black;
        border-radius: 3px;
        padding: 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-weight: 700;
        font-size: 10pt;
        transition: all .3s ease;
    }
    &:hover::before {
        background-color: black;
        color: white;;
    }
    &:active {
        outline: 0;
    }
    &:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
    }

}