.newProduct-main-carousel > img{
    //.newProduct-main-carousel > div > img{
    height:400px;           
}

.new-products-card-main{
    width: 80% ;
}


@media (max-width:1400px){
    .newProduct-main-carousel > img{
        height:330px;     

    }
    .new-products-card-main{
        width: 80% !important;
    }
}

@media (max-width:1200px){
    .newProduct-main-carousel > img{
        height:300px;           
    }
    .new-products-card-main{
        width: 98% !important;
    }
    
    .newFurnitureCard{
        flex-direction: column !important;
    }
    .newFurnitureCardLeft{
        width: 100% !important;
        img{
            width: 100% !important;
        }

    }
    .newFurnitureCardRight{
        width: 100% !important;
    }

}

