.new-prod {
    .slick-slide img {
        height: 280px !important;
    }
}

.new-products-card-main{
    width: 70% ;
}


@media (max-width:1400px){

    .new-products-card-main{
        width: 80% !important;
    }
}


@media (max-width:1200px){

    .new-products-card-main{
        width: 90% !important;
    }
}
@media (max-width:850px){

    .new-products-card-main{
        width: 100% !important;
    }
}



@media screen and (max-width:700px){

    .new-products-card-main{
        width: 98% !important;
    }
    
    .newFurnitureCard{
        flex-direction: column !important;
    }
    .newFurnitureCardLeft{
        width: 100% !important;
        img{
            width: 100% !important;
        }

    }
    .newFurnitureCardRight{
        width: 100% !important;
    }

}

