.not-found {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    align-items: center;
    .nf-code {
      font-size: 68px !important;
      margin: 0;
    }
    .nf-message {
      font-size: 28px !important;
      margin: 0;
    }
    .nf-button {

    }
}