.product-up {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  .product-up-left {
    width: 70%;
    flex: 2;
    figure{
      background-position: 50% 50%;
      position: relative;
      border: 5px solid white;
      margin: 0px;
      height: 600px;
      width: 100%;
      overflow: hidden;
      cursor: zoom-in;
      & > img {
        &:hover {
          opacity: 0;
        }
        transition: opacity 0.5s;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
    .img-detail-side {
      display: flex;
      justify-content: center;
      //height: 100%;
      height: 600px;
      width: 100%;
      max-height: 600px;
      overflow: hidden;
      & > img {
        transform-origin: center center;
        //object-fit: cover;
        height: 100% !important;
        width: 100% !important;
      }
    }
    .detail-page-small-div {
      & > img {
        width: 100%;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
        margin: 0px 0px 0px 0px;
        object-fit: cover;
      }
    }
  }
  .product-up-right {
    width: 20%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    justify-content: flex-start;
    padding: 0 20px;
    row-gap: 20px;
  }
  .product-up-right-name {
    font-size: 40px !important;
    padding: 0 10px !important;
  }
  .product-up-right-code {
    font-size: 15px !important;
  }
  .product-up-right-price {
    font-size: 30px !important;
    font-family:"Roboto","Helvetica","Arial",sans-serif;
  }
  .product-up-right-colors {
    margin-bottom: 20px;
    display: flex;
    column-gap: 10px;
    .pur-colors-item {
        cursor: pointer;
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,.5);
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 50%;
    }
  }
}
.product-down {
  display: flex;
  padding: 30px;
  align-items: center;
  flex-direction: column;
  .product-down-name {
    font-weight: 600;
    color: #242433;
    margin: 15px 0px 20px 10px;
  }
  .product-down-description-title {
    font-size: 34px !important;
  }
  .product-down-description {
    font-weight: 100;
    font-size: 18px !important;
    text-align: center;
    color: #242433;
    margin: 15px 0px 40px 10px;
  }
  .product-down-divider {
    width: 90%;
    margin-bottom: 30px;
  }
  .product-down-card {
    width: 70%;
    .product-detail-card {
        .furniture-detail-card-left {
          width: 55%;
          height: 300px;
          & > img {
            width: 100%;
            height: 100%;
          }
        }
        .furniture-detail-card-right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 45%;
          margin-left: 10px;
          padding: 10px;
          row-gap: 20px;
          .product-card-name {
            font-weight: 500;
            font-size: 22px !important;
            color: #444;
            margin: 15px 0px 0px 0px;
          }
          .product-card-colors {
            width: 100%;
            display: flex;
            margin:0;
            column-gap: 10px;
            .product-card-colors-item {
              cursor: pointer;
              box-shadow: 0px 0px 2px 1px rgba(0,0,0,.5);
              margin: 0;
              width: 28px;
              height: 28px;
              overflow: hidden;
              border-radius: 50%;
            }
          }
          .product-detail-card-prop {
            display: flex;
            //align-items: center;
            column-gap: 16px;
            & > p {
              font-family:"Roboto","Helvetica","Arial",sans-serif;
              line-height: 1.6;
              letter-spacing: 0.0075em;
              color: #444;
              font-weight: 500;
              margin: 0 0 0 2px;
              font-size: 16px !important;
            }
          }
          .product-detail-card-price {
              font-family:"Roboto","Helvetica","Arial",sans-serif;
              line-height: 1.6;
              letter-spacing: 0.0075em;
              color: #444;
              font-weight: 700;
              margin: 0 0 0 4px;
          }
        }
    }
  }
}


@media (max-width: 1100px) {
  .product-up {
    display: flex;
    flex-direction: column;
    .product-up-right {
      width: 99%;
      row-gap: 10px;
      padding: 0 !important;
      margin: 0;
      align-items: center;
    }
    .product-up-left {
      width: 100%;
      padding: 20px;
    }
  }
  .detail-product-right-side{
      width: 100% !important;
      margin: 0px 20px;
  }
  .detail-img {
    width: 100% !important;
  }
  .product-down {
    .product-down-card {
      width: 100% !important;
      .product-detail-card {
        .furniture-detail-card-right {
          .product-detail-card-prop {
            flex-direction: column;
            row-gap: 10px;
            & > p {
            //font-size: 14px !important;
            }
          }
          .product-detail-card-price {
          }
          & > button {
            font-size: 14px !important;
          }
        }
      }
    }
  }
}












@media (max-width: 900px) {
  .detail-card-main{
    width: 80% !important;
  }

}
@media (max-width: 800px) {
  .product-down {
    .product-down-card {
    width: 100% !important;
      .product-detail-card {
        flex-direction: column;
        .furniture-detail-card-right {
          width: 100% !important;
          .product-detail-card-prop {
            flex-direction: column;
            row-gap: 10px;
            & > p {
            //font-size: 14px !important;
            }
          }
          .product-detail-card-price {
          }
          & > button {
            font-size: 14px !important;
          }
        }
        .furniture-detail-card-left {
          width: 100% !important;
        }
      }
    }
  }
  .detail-card-main{
    width: 85% !important;
  }
  .img-div-detail {
    height: 400px !important;
  }
}
@media (max-width: 700px) {
  .product-down {
    .product-down-card {
      .product-detail-card {
        flex-direction: column;
        .furniture-detail-card-right {
          width: 100% !important;
          .product-detail-card-prop {
            flex-direction: column;
            row-gap: 10px;
            & > p {
            //font-size: 14px !important;
            }
          }
          .product-detail-card-price {
          }
          & > button {
            font-size: 14px !important;
          }
        }
        .furniture-detail-card-left {
          width: 100% !important;
        }
      }
    }
  }
  .detail-card-main{
    width: 90% !important;
  }

}
@media (max-width: 600px) {
  .detail-card-main{
    width: 100% !important;
  }

  }
  @media (max-width: 500px) {

  }
