.product-all-detail {
 display: flex;
  flex-direction: row;
}


@media (max-width: 1100px) {
  .product-all-detail {
    flex-direction: column;
  }
  .detail-card-main{
    width: 70% !important;
  }
  .FurnitureDetailCard{
    flex-direction: column !important;
  }

  .FurnitureDetailCardLeft{
    width: 100% !important;
    overflow: hidden;
    img{
        width: 90% !important;
    }
  }

  .detail-product-right-side{
      width: 100% !important;
      margin: 0px 20px;
  }
  .detail-img {
    width: 100% !important;
  }
}
@media (max-width: 900px) {
  .detail-card-main{
    width: 80% !important;
  }

}
@media (max-width: 800px) {
  .detail-card-main{
    width: 85% !important;
  }
  .img-div-detail {
    height: 400px !important;
  }
}
@media (max-width: 700px) {
  .detail-card-main{
    width: 90% !important;
  }

}
@media (max-width: 600px) {
  .detail-card-main{
    width: 100% !important;
  }

  }
  @media (max-width: 500px) {

  }
