.main {
  width: 100%;
  height: 100%;
  .img-con {
    padding: 60px 80px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
    grid-auto-flow: dense;
    div {
      border-radius: 20px;
      margin-bottom: 10px;
      img {
        transition: all 1.2s ease;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:hover img {
        transform: scale(1.2);
      }
    }
  }
  .item-span-3 {
    grid-column-end: span 3;
  }
  .item-span-4 {
    grid-column-end: span 4;
  }
  .item-span-5 {
    grid-column-end: span 5;
  }
  .item-span-6 {
    grid-column-end: span 6;
  }
}

.dialog-edit {
  height: 100%;
  .dialog-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 50px;
    gap: 50px;
    .dialog-item-2 {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      justify-self: center;
      align-self: center;
      border-radius: 50%;
      box-shadow: 0 0 14px 2px rgba(155,155,155, .25);
      width: 130px;
      height: 130px;
      border: 1px solid rgba(212, 212, 212, .65);
      transition: all .3s ease;
      cursor: pointer;
      &:hover {
        transform: rotate(90deg);
      }
    }
    .dialog-item {
      justify-self: center;
      position: relative;
      overflow: hidden;
      box-shadow: 0 0 14px 2px rgba(155,155,155, .25);
      width: 230px;
      height: 230px;
      border-radius: 10px;
      border: 1px solid rgba(212, 212, 212, .65);
      transition: all .3s ease;
      cursor: pointer;
      &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 20px 8px rgba(155,155,155, .30);
        border: 1px solid rgba(212, 212, 212, .95);
      }
      &:hover  {
        .item-edit-cart {
          top: 10px
        }
      }
      .dialog-item-content {
        position: relative;
        height: 100%;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
        }
        p {
          position: absolute;
          bottom: 20px;
          margin: 0;
          text-align: center;
          width: 100%;
          font-size: 20px;
        }
      }
      .item-edit-cart {
        transition: all .5s ease;
        padding: 2px 8px;
        position: absolute;
        top: -100%;
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: center;
        border-radius: 10%;
        z-index: 2;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        box-shadow: 0 0 1px 1px rgb(0 0 0 / 10%);
        margin: 10px;
        .tooltip {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          width: 40px;
        }
      }
    }
  }

}
.main-campaign-carousel{
  .slick-arrow {
    position: absolute;
    bottom: -40px;
    width: 34px;
    height: 54px;
    padding: 0;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background: rgb(45, 53, 45);
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
    }
    &.slick-prev {
      transform: translateX(-50%) translateX(-25px);
      background: rgb(45, 53, 45);
      z-index: 2;
      &:after {
        
        transform: translateX(-50%) translateX(-2px) translateY(-50%);
        border-width: 10px 13px 10px 0;
        border-color: transparent #fff transparent transparent;
      }
    }
    &.slick-next {
      transform: translateX(-50%) translateX(50px);
      z-index: 1;
      background: rgb(45, 53, 45);
      &:after {
        transform: translateX(-50%) translateX(2px) translateY(-50%);
        border-width: 10px 0 10px 13px;
        border-color: transparent transparent transparent #fff;
      }
    }
  }
}


.furnitureDrawer{
  z-index: 1300 !important;
}
.ae-dialog {
  z-index: 1100 !important;
  .ae-dialog-title {
    text-align: center;
  }
  .ae-dialog-content {
    display: flex;
    overflow: visible;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 20px;
  }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #605568 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #605568;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

@media only screen and (max-width: 1400px) {
  .dialog-edit {
    //height: 100%;
    .dialog-container {
      //display: grid;
      grid-template-columns: repeat(4, 1fr);
      //padding-top: 50px;
      gap: 0px;
      row-gap: 20px;
    }
  }
}
@media only screen and (max-width: 1100px) {
  .dialog-edit {
    //height: 100%;
    .dialog-container {
      //display: grid;
      grid-template-columns: repeat(3, 1fr);
      //padding-top: 50px;
    }
  }
}
@media only screen and (max-width: 900px) {
  .dialog-edit {
    //height: 100%;
    .dialog-container {
      //display: grid;
      grid-template-columns: repeat(2, 1fr);
      //padding-top: 50px;
    }
  }
  .main-campaign-carousel{
    .slick-arrow {
      &.slick-prev {
        transform: translateX(-50%) translateX(42px);

      }
      &.slick-next {
        transform: translateX(-50%) translateX(-8px);
      }
    }
  }

}

@media only screen and (max-width: 600px) {
  .dialog-edit {
    //height: 100%;
    .dialog-container {
      //display: grid;
      grid-template-columns: repeat(1, 1fr);
      //padding-top: 50px;
    }
  }
}