.f-add-edit-images {
  img {
    //max-height: 200px;
    height: 100%;
    max-height: 300px;
    width: 100%;
  }
    .img-list {
      height: 100%;
      max-height: 200px;
      width: 100%;
      overflow: scroll;
      p {
        user-select: none;
        display: flex;
        margin: 5px;
        justify-content: space-between;
        span:first-child {
          display: flex;
          column-gap: 10px;
          .p-select-color {
            display: block;
            height: 20px ;
            width: 20px;
            border-radius: 50%;
            box-shadow: 0 0 2px 1px rgba(0,0,0,.35);
          }
        }
        span:last-child {
          cursor: pointer;
        }
      }
    }
}